*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

body {
    font-family: Arial, sans-serif;
    font-style: revert;
    background-color: #F5F7FA;
}

header {
    width: 100%;
    height: 100px;
    background-color: #FFFFFF;
}

.navbar {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
}

.logo {
    height: 70px;
    width: 220px;
    margin: 0 0 0 24px;
}

.logo img {
    width: 65%;
    height: 100%;
}

.search-block {
    display: flex;
    align-items: center;
    width: 370px;
    height: 35px;
    margin: 0 auto;
}

.search-block img {
    height: 75%;
    width: 7.5%;
    margin: 0 2% 0 0;
}

.search-block form {
    width: 80%;
    height: 100%;
}

.search-block input {
    width: 100%;
    height: 100%;
    padding-left: 9px;
    padding-right: 9px;
    font-size: 17px;
    border: 1px solid black;
    border-radius: 12px;
}

.buttons {
    display: flex;
    align-items: center;
    width: 220px;
    height: 100px;
}

.image-link {
    width: 74px;
    margin: 0 3% 0 0;
}

.image-link a {
    display: inline-block;
    width: 80%;
    height: 80%;
}

.image-link img {
    width: 100%;
    height: 100%;
}

.message-area {
    position: absolute;
    margin: 2% 0 0 0;
    width: 96%;
    text-align: center;
    font-size: 22px;
    font-weight: bold;
}

.grid {
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(5, 230px);
    grid-auto-rows: minmax(400px, auto);
    column-gap: 3%;
    width: 96%;
    height: auto;
    min-height: 68vh;
    padding: 2.8% 0 0 0;
    margin: 2% auto 2%;
    border-radius: 15px;
    background-color: #FFFFFF;
}

.product-card {
    width: 100%;
    height: 360px;
    border: 1px solid grey;
    border-radius: 15px;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.1);
}

.product-photo {
    width: 90%;
    height: 60%;
    border: 1px solid black;
    border-radius: 15px;
    margin: 5% auto 0;
}

.product-photo a {
    width: 100%;
    height: 100%;
    display: inline-block;
}

.product-photo img {
    width: 100%;
    height: 100%;
    border-radius: 15px;
}

.product-price {
    font-size: 22px;
    font-weight: bold;
    margin: 5% 0 0 5%;
}

.product-name {
    height: 8%;
    width: 87%;
    margin: 4% 0 0 5%;
    font-size: 18px;
}

.product-name a {
    display: inline-block;
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    text-decoration: none;
    color: black;
}

.product-name a:hover {
    color: rgba(52,82,226,0.94);
}

.product-comments-summary {
    display: flex;
    margin: 2% 0 0 0;
    width: 100%;
    height: 9%;
}

.average-rating {
    display: flex;
    align-items: center;
    margin: 0 0 0 3.5%;
    width: 50%;
}

.amount-comments {
    display: flex;
    align-items: center;
    width: 50%;
}

.average-rating img {
    width: 30%;
    height: 78%;
}

.amount-comments img {
    width: 22%;
    height: 80%;
}

.product-comments-summary span {
    margin: 0 0 0 2%;
}

.amount-comments span {
    margin: 0 0 0 3%;
}

footer {
    background-color: #FFFFFF;
    height: 70px;
}

.footer {
    text-align: center;
    padding-top: 2%;
    font-weight: bold;
}


@media (min-width: 1380px) and (max-width: 1500px) {
    .grid {
        grid-template-columns: repeat(5, 220px);
        grid-auto-rows: minmax(370px, auto);
        padding: 2.8% 3% 0 3%;
    }

    .product-card {
        width: 100%;
        height: 340px;
    }
}

@media (min-width: 1024px) and (max-width: 1380px){
    .grid {
        grid-template-columns: repeat(5, auto);
        grid-auto-rows: minmax(370px, auto);
        padding: 2.8% 3% 0.5% 3%;
    }

    .product-card {
        width: 100%;
        height: 340px;
    }
}

@media (min-width: 768px) and (max-width: 1024px) {
    header {
        height: 85px;
    }

    .logo {
        width: 20%;
    }

    .logo img {
        width: 82%;
    }

    .buttons {
        width: 20%;
    }

    .grid {
        grid-template-columns: repeat(4, auto);
        grid-auto-rows: minmax(335px, auto);
        padding: 2.8% 3% 0 3%;
    }

    .product-card {
        width: 100%;
        height: 310px;
    }
}

@media (min-width: 500px) and (max-width: 768px){
    header {
        height: 75px;
    }

    .logo {
        width: 22%;
    }

    .logo img {
        width: 90%;
        height: 97%;
        margin: 0 0 3% 0;
    }

    .search-block {
        height: 33%;
        width: 250px;
    }

    .search-block input {
        border-radius: 10px;
        font-size: 14px;
    }

    .buttons {
        margin: 0.5% 0 0 0;
        width: 22%;
        height: 100%;
    }

    .grid {
        grid-template-columns: repeat(3, auto);
        grid-auto-rows: minmax(305px, auto);
        padding: 2.8% 3% 0.5% 3%;
        margin: 3% auto 3%;
        width: 88%;
    }

    .product-card {
        width: 100%;
        height: 290px;
    }

    footer {
        height: 50px;
        font-size: 14px;
    }
}

@media (min-width: 310px) and (max-width: 500px) {
    header {
        height: 75px;
    }

    .logo {
        margin: 0;
        width: 27%;
        height: 80%;
    }

    .logo img {
        width: 90%;
        height: 97%;
        margin: 0 0 3% 0;
    }

    .search-block {
        height: 33%;
        width: 170px;
    }

    .search-block input {
        border-radius: 10px;
        font-size: 8px;
    }

    .buttons {
        margin: 0.5% 0 0 0;
        width: 27%;
        height: 100%;
    }

    .grid {
        grid-template-columns: repeat(2, auto);
        grid-auto-rows: minmax(282px, auto);
        padding: 2.8% 3% 0 3%;
        margin: 3% auto 3%;
        width: 88%;
    }

    .product-card {
        width: 100%;
        height: 270px;
    }

    footer {
        height: 40px;
        font-size: 13px;
    }
}

@media (max-width: 309px) {
    body {
        display: none;
    }
}
