*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

body {
    font-family: Arial, sans-serif;
    font-style: revert;
    background-color: #F5F7FA;
}

header {
    width: 100%;
    height: 100px;
    background-color: #FFFFFF;
}

.navbar {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: flex-start;
}

.logo {
    height: 80%;
    width: 12%;
    margin: 0.5% 0 0 1%;
}

.logo img {
    width: 100%;
    height: 100%;
}

.search-area {
    width: 25%;
    height: 35px;
    margin: 30px 25% 0;
    display: flex;
}

.search-area img {
    height: 26px;
    width: 26px;
    margin: 4px 5px 0 0;
}

.search-area form {
    width: 80%;
    height: 100%;
}

.search-area input {
    width: 100%;
    height: 100%;
    padding-left: 9px;
    padding-right: 9px;
    font-size: 17px;
    border: 1px solid black;
    border-radius: 12px;
}

.buttons {
    display: flex;
    margin: 1.7% 0 0 -2%;
}

.img-link {
    margin: 0 8px;
}

.img-link img {
    width: 45px;
    height: 45px;
}

.message-area {
    position: absolute;
    margin: 2% 0 0 0;
    width: 96%;
    text-align: center;
    font-size: 22px;
    font-weight: bold;
}

.grid {
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(5, 240px);
    grid-auto-rows: minmax(400px, auto);
    column-gap: 3%;
    padding-top: 2.8%;
    width: 96%;
    min-height: 68vh;
    height: auto;
    margin: 2% auto 2%;
    border-radius: 15px;
    background-color: #FFFFFF;
}

.product-card {
    height: 360px;
    width: 240px;
    border: 1px solid grey;
    border-radius: 15px;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.1);
}

.product-photo {
    width: 90%;
    height: 60%;
    border: 1px solid black;
    border-radius: 15px;
    margin: 5% auto 0;
}

.product-photo a {
    width: 100%;
    height: 100%;
    display: inline-block;
}

.product-photo img {
    width: 100%;
    height: 100%;
    border-radius: 15px;
}

.product-price {
    font-size: 22px;
    font-weight: bold;
    margin: 5% 0 0 5%;
}

.product-name {
    height: 8%;
    width: 87%;
    margin: 3% 0 0 5%;
}

.product-name a {
    display: inline-block;
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    text-decoration: none;
    color: black;
}

.product-name a:hover {
    color: rgba(52,82,226,0.94);
}

.rating-data {
    display: flex;
    height: 16%;
    width: 100%;
}

.product-rating {
    width: 50%;
    display: flex;
}

.product-rating img {
    width: 25%;
    height: 45%;
    margin: 4% 0 0 8%;
}

.product-rating span {
    margin: 8.5% 0 0 5%;
}

.amount-comments {
    width: 50%;
    display: flex;
}

.amount-comments img {
    width: 22%;
    height: 45%;
    margin: 4% 0 0 0;
}

.amount-comments span {
    margin: 8% 0 0 5%;;
}

footer {
    background-color: #FFFFFF;
    height: 70px;
}

.footer {
    text-align: center;
    padding-top: 2%;
    font-weight: bold;
}
