@import "nullstyle.scss";
@import "../../fonts/LabGrotesqueThin/fonts.scss";

body{
  font-family: "Lab Grotesque";

}

.navbar {
  width: 100%;
  height: 70px;
  .container {
    height: inherit;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}