<!doctype html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="/static/css/style.css" rel="stylesheet">
    <link href="/static/img/favicon.png" rel="icon" type="image/png">
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <title>webstore</title>
</head>
<body>
<div class="comment-creation-form-container">
    <div class="comment-creation-title">
        <span>Создание отзыва</span>
    </div>

    <div class="comment-creation-rating" data-rating="1">
        <a>
            <img src="/static/img/inactive_star.png" alt="star" data-value="1" data-state="0">
        </a>
        <a>
            <img src="/static/img/inactive_star.png" alt="star" data-value="2" data-state="0">
        </a>
        <a>
            <img src="/static/img/inactive_star.png" alt="star" data-value="3" data-state="0">
        </a>
        <a>
            <img src="/static/img/inactive_star.png" alt="star" data-value="4" data-state="0">
        </a>
        <a>
            <img src="/static/img/inactive_star.png" alt="star" data-value="5" data-state="0">
        </a>
    </div>

    <form>
        <label for="comment-creation-text"></label>
        <textarea id="comment-creation-text" name="text" maxlength="205"></textarea>

        <div class="comment-creation-photo">
            <input id="comment-creation-photo" type="file" accept=".jpg, .png" name="photo">
        </div>

        <div class="comment-creation-submit-button">
            <button type="submit">Создать отзыв</button>
        </div>
    </form>

    <div class="comment-creation-message">
        <span>&copy; WebStore 2024</span>
    </div>
</div>

<script src="/static/js/comment_creation.js"></script>
</body>
</html>