<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ItemHub</title>
    <link href="/static/css/email_verification.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
</head>
<body>

<header>
    <a href="/"><img src="/static/img/favicon.svg"></a>
</header>

<div class="container">
    <div class="title">Проверка почты для ItemHub</div>
    <div class="message"></div>
</div>

<script src="/static/js/email_verification.js"></script>
</body>
</html>