<!doctype html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="../static/css/email_verification.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <title>ItemHub</title>
</head>
<body>

<div id="confirmation-menu">
    <div class="title-form">Подтвердите привязывание почты к ItemHub</div>

    <form>
        <div id="confirm-email-button" class="menu-buttons">
            <input type="submit" value="Подтвердить почту">
        </div>
        <div id="cancel-email-button" class="menu-buttons">
            <input type="button" value="Это не моя почта">
        </div>
    </form>
</div>

<script src="../static/js/email_verification.js"></script>
</body>
</html>