<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="/static/css/index.css" rel="stylesheet">
    <link href="/static/img/favicon.png" rel="icon" type="image/png">
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <title>webstore</title>
</head>
<body>
<header>
    <div class="navbar">
        <div class="logo">
            <img src="/static/img/logo.png" alt="webstore">
        </div>

        <div class="search-block">
            <img src="/static/img/search.png" alt="search">
            <form id="search-form">
                <label for="search-input"></label>
                <input id="search-input" type="text" placeholder="Введите название товара">
            </form>
        </div>

        <div class="buttons">
            <div class="image-link">
                <a href="#"><img src="/static/img/profile.png" alt="account"></a>
            </div>
            <div class="image-link">
                <a href="#"><img src="/static/img/orders.png" alt="orders"></a>
            </div>
            <div class="image-link">
                <a href="#"><img src="/static/img/cart_items.png" alt="cart"></a>
            </div>
        </div>
    </div>
</header>

<div class="grid">
    <!--
        <div class="product-card">
            <div class="product-photo">
                <a href="/products/1">
                    <img src="/images/products/1" alt="product-photo">
                </a>
            </div>
            <div class="product-price">1 $</div>
            <div class="product-name">
                <a href="/products/288">good star</a>
            </div>
            <div class="product-comments-summary">
                <div class="average-rating">
                    <img src="/static/img/inactive_star.png/" alt="star">
                    <span>0.0</span>
                </div>
                <div class="amount-comments">
                    <img src="/static/img/comment.png" alt="comment">
                    <span>0</span>
                </div>
            </div>
        </div>
    -->
</div>

<footer>
    <div class="footer">&copy; WebStore 2024</div>
</footer>

<script src="/static/js/state.js"></script>
<script src="/static/js/product_loader.js"></script>
<script src="/static/js/product_search.js"></script>
</body>
</html>