<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="../static/css/index.css" rel="stylesheet">
    <title>webstore</title>
</head>
<body>
<header>
    <div class="navbar">
        <div class="logo">
            <img src="../static/img/logo.png" alt="webstore">
        </div>

        <div class="search-area">
            <img src="../static/img/search.png" alt="search">
            <form>
                <label for="search_area"></label>
                <input id="search_area" type="text" placeholder="Введите название товара">
            </form>
        </div>

        <div class="buttons">
            <div class="img-link">
                <a><img src="../static/img/profile.png" alt="profile"></a>
            </div>
            <div class="img-link">
                <a><img src="../static/img/orders.png" alt="orders"></a>
            </div>
            <div class="img-link">
                <a><img src="../static/img/cart_items.png" alt="cart-items"></a>
            </div>
        </div>
    </div>
</header>
</body>
</html>