<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="../static/css/style.css" rel="stylesheet">
    <link href="/static/img/favicon.png" rel="icon" type="image/png">
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <title>webstore</title>
</head>
<body>
<div class="order-creation-form_container">
    <div class="order-creation-form">
        <div class="order-creation-form_title">
            <div class="order-creation-form_title_return-btn">
                <a href="/">
                    <img src="../static/img/back.png" alt="back">
                </a>
            </div>
            <div class="order-creation-form_title_text">
                <span>Создание заказа</span>
            </div>
        </div>

        <form>
            <div class="order-creation-form_product-data_container">
                <div class="order-creation-form_photo-container">
                    <img src="https://ir-5.ozone.ru/s3/multimedia-1-o/wc1000/7243748880.jpg" alt="product">
                </div>

                <div class="order-creation-form_product-data_wrapper">
                    <div class="order-creation-form_product-data">
                        <div class="order-creation-form_product_name">
                            <span>Электронный ноутбук</span>
                        </div>
                        <div class="order-creation-form_product_price">
                            <span>1600 $</span>
                        </div>
                    </div>
                </div>
            </div>

            <div class="order-creation-form_address_container">
                <label for="order-creation-form_address"></label>
                <input id="order-creation-form_address" type="text" placeholder="Введите адрес доставки">
                <div class="order-creation-form_address_error">
                    <span>усё погано</span>
                </div>
            </div>

            <div class="order-creation-form_error">
                <span>усё погано вообще епт</span>
            </div>

            <div class="order-creation-form_submit-btn_container">
                <button type="submit">Создать заказ</button>
            </div>
        </form>

        <div class="order-creation-form_footer">
            <span>&copy; WebStore</span>
        </div>
    </div>
</div>
</body>
</html>