<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, height=device-height, initial-scale=1.0, maximum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="/static/css/style.css" rel="stylesheet">
    <link href="/static/img/favicon.png" rel="icon" type="image/png">
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <title>webstore</title>
</head>
<body>

<header class="product_header">
    <div class="product_header-logo">
        <img src="/static/img/webstore.png">
    </div>
</header>

<div class="catalog-return-button">
    <a href="/">
        <img src="/static/img/arrow-back.png">
    </a>
</div>

<div class="product-container">
    <div class="product-photo">
        <img src="/images/products/{{product.product_id}}.jpg">
    </div>

    <div class="product-text-data">
        <div class="product-name">
            <span>{{product.name}}</span>
        </div>

        <div class="product-price">
            <span>{{product.price}} $</span>
        </div>

        <div class="product-score">
            <div class="product-rating">
                {% if product.rating >= 4 %}
                <img src="/static/img/active-star.png">
                {% else %}
                <img src="/static/img/inactive-star.png">
                {% endif %}
                <span>{{product.rating}}</span>
            </div>
            <div class="product_amount-comments">
                <img src="/static/img/comment.png">
                <span>{{product.amount_comments}}</span>
            </div>
            <div>
                <img src="/static/img/orders.png">
                <span>{{product.amount_orders}}</span>
            </div>
        </div>

        <div class="product_order-buttons">
            <a class="product_order-creation-button">
                <span>Купить сейчас</span>
            </a>
            {% if product.is_in_cart %}
            <a class="product_cart-item-management-button" href="/cart-items">
                <span>Уже в корзине</span>
            </a>
            {% else %}
            <a class="product_cart-item-management-button" id="cart-item-creation-button">
                <span>В корзину</span>
            </a>
            {% endif %}
        </div>

        <div class="product-description">
            <span class="product-description-title">О товаре</span>
            <span class="product-description-text">{{product.description}}</span>
        </div>
    </div>
</div>

<div class="comments-container">
    <div class="comments-container-header">
        <a>Все отзывы</a>
        {% if product.is_ordered %}
        <a class="comment-creation-link">Оставить отзыв</a>
        {% endif %}
    </div>

    <div class="comments-grid"></div>
</div>

<footer>
    <span>&copy; WebStore</span>
</footer>

<script src="/static/src/auth/jwt.js"></script>
<script src="/static/src/auth/refresh.js"></script>
<script src="/static/src/utils/state.js"></script>
<script src="/static/src/entities/comments/create.js"></script>
<script src="/static/src/entities/comments/load.js"></script>
<script src="/static/src/entities/comments/update.js"></script>
<script src="/static/src/entities/comments/delete.js"></script>
<script src="/static/src/entities/comments/form.js"></script>
<script src="/static/src/entities/cartItems/create.js"></script>
<script src="/static/src/entities/orders/create.js"></script>
<script src="/static/src/entities/orders/form.js"></script>
<script src="/static/src/pages/product.js"></script>

</body>
</html>