<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="../static/css/style.css" rel="stylesheet">
    <link href="../static/img/favicon.png" rel="icon" type="image/png">
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <title>webstore</title>
</head>
<body>
<header class="header-product">
    <div class="logo-product">
        <img src="../static/img/logo.png" alt="logo">
    </div>
</header>
<div class="catalog-link-arrow">
    <a href="/">
        <img src="../static/img/back.png" alt="catalog">
    </a>
</div>

<div class="product-container">
    <div class="product-photo">
        <img src="https://encrypted-tbn1.gstatic.com/shopping?q=tbn:ANd9GcQ8B6s4nkkro9LrhL57YKQhY0naqT9igbtmUiq6cerwwariTvXeDHHSZBQ3MvmCxAx8U1gB14vroQeK7G5jdF4XhZIiEcGpXB47jAgF95_wCVg235FTJkjUeg&usqp=CAE" alt="product-photo">
    </div>

    <div class="product-text-data-container">
        <div class="product-name">random name</div>
        <div class="product-description">
            <span class="product-description-title">О товаре</span>
            <br>
            <span>Это пример текста, который содержит ровно двести символов, включая пробелы и знаки препинания. Данный текст может быть использован в качестве шаблона для проверки отображения контента.</span>
        </div>
    </div>

    <div class="purchase-data-container">
        <div class="product-price">699 $</div>
        <div class="product-statistics-container">
            <div class="amount-product-orders">Количество заказов: 52</div>
            <div class="product-score">
                <div>
                    <img src="../static/img/active_star.png" alt="star">
                    <span>4.9</span>
                </div>
                <div>
                    <img src="../static/img/comment.png" alt="comment">
                    <span>521</span>
                </div>
            </div>
        </div>

        <div class="product-buttons">
            <div class="order-creation-button">
                <a href="#">
                    <span>Купить</span>
                </a>
            </div>
            <div class="cart-item-creation-button">
                <a href="#">
                    <span>В корзину</span>
                </a>
            </div>
        </div>
    </div>
</div>




</body>
</html>