<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="/static/css/auth_form.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <title>ItemHub</title>
</head>
<body>
<div class="elements-container">
    <div class="authentication-type">Регистрация</div>

    <form>
        <div class="form-elements">
            <div class="fields">
                <div id="username-node" class="input">
                    <label for="username-field">Имя пользователя</label>
                    <input type="text" name="username" id="username-field" required>
                    <div class="invalid-input"></div>
                </div>
                <div id="password-node" class="input">
                    <label for="password-field">Пароль</label>
                    <input type="password" name="password" id="password-field" required>
                    <div class="password-hider">
                        <input type="checkbox" id="password-checkbox" checked>
                        <label for="password-checkbox">Скрыть пароль</label>
                    </div>
                    <div class="invalid-input"></div>
                </div>
            </div>

            <div id="send-button">
                <input type="submit" value="Создать аккаунт">
            </div>
        </div>
    </form>

    <div id="cancel-button">
        <a href="/">Назад</a>
    </div>
</div>

<script src="/static/js/auth.js"></script>
<script src="/static/js/credentials_validators.js"></script>
<script src="/static/js/registration.js"></script>
<script src="/static/js/welcome_message.js"></script>
</body>
</html>