<!doctype html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, height=device-height, initial-scale=1.0, maximum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="../static/css/style.css" rel="stylesheet">
    <link href="/static/img/favicon.png" rel="icon" type="image/png">
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <title>webstore</title>
</head>
<body>
<header class="user-page_header">
    <div class="user-page_header-logo">
        <img src="../static/img/logo.png" alt="logo">
    </div>
</header>

<div class="user-page_container">
    <div class="user-page">
        <div class="user-page_data">
            <div class="user-page_user-photo">
                <img src="../static/img/default-avatar.png" alt="user">
            </div>

            <div class="user-page_text-data-container">
                <div class="user-page_username">
                    <span>Егор Ципцин</span>
                </div>
                <div class="user-page_email">
                    <span>tsiptsin.egor@gmail.com</span>
                </div>
                <div class="user-page_registration-date">
                    <span>Дата регистрации: 01.01.2025</span>
                </div>
            </div>
        </div>

        <div class="user-page_data-management">
            <div class="user-page_data-editing-btn">
                <a>
                    <span>Изменить данные</span>
                </a>
            </div>
            <div class="user-page_logout-btn">
                <a>
                    <span>Выйти из аккаунта</span>
                </a>
            </div>
            <div class="user-page_account-deletion-btn">
                <a>
                    <span>Удалить аккаунт</span>
                </a>
            </div>
        </div>

        <div class="user-page_navbar">
            <div>
                <a>
                    <span>Каталог</span>
                </a>
            </div>
            <div>
                <a>
                    <span>Корзина</span>
                </a>
            </div>
            <div>
                <a>
                    <span>Мои заказы</span>
                </a>
            </div>
            <div>
                <a>
                    <span>Панель управления</span>
                </a>
            </div>
        </div>
    </div>
</div>

<footer>
    <span>&copy; WebStore 2024</span>
</footer>
</body>
</html>