
.tsBodyControl400Small {
  font-size: 14px;
  font-weight: 500;
  letter-spacing: .2px;
  line-height: 20px;
}

div, span {
  margin: 0;
  padding: 0;
}

.b2115-a {
  border-radius: inherit;
  bottom: 0;
  left: 0;
  opacity: 0;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 1;
}

.b2115-a0 {
  -webkit-touch-callout: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: transparent;
  border: none;
  border-radius: 8px;
  box-sizing: border-box;
  color: inherit;
  cursor: pointer;
  display: inline-flex;
  font-size: inherit;
  font-weight: inherit;
  margin: 0;
  overflow: hidden;
  padding: 10px 16px;
  position: relative;
  text-align: center;
  text-decoration: none;
}

.b2115-a0, .b2115-a1 {
  align-items: center;
  justify-content: center;
}

.b2115-a1 {
  display: flex;
  height: 24px;
  white-space: nowrap;
  width: 100%;
}

.b2115-a8 {
  display: block;
}

.b2115-a8 {
  overflow: hidden;
  text-overflow: ellipsis;
}

.b2115-b1 {
  padding: 8px 12px;
}

.b2115-b1 .b2115-a1 {
  height: 16px;
}

@media (hover: hover) {
  .b2115-a:not(.b2115-c):hover {
    opacity: .1;
  }
}

.ag017-a {
  border-radius: inherit;
  bottom: 0;
  left: 0;
  opacity: 0;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 1;
}

.ag017-a0 {
  -webkit-touch-callout: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  align-items: center;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: transparent;
  border: none;
  border-radius: 8px;
  box-sizing: border-box;
  color: inherit;
  cursor: pointer;
  display: inline-flex;
  font-size: inherit;
  font-weight: inherit;
  height: 44px;
  justify-content: center;
  margin: 0;
  min-width: 44px;
  padding: 0;
  position: relative;
  text-decoration: none;
  transition: transform .1s cubic-bezier(.55, 0, 1, .45);
  white-space: normal;
}

.ag017-a2 {
  height: 32px;
  min-width: 32px;
}

@media (hover: hover) {
  .ag017-a:not(.ag017-b3):hover {
    opacity: .1;
  }
}

.d4015-a {
  display: inline-flex;
}

.a5d16-a {
  align-items: center;
  display: inline-flex;
  height: 16px;
  pointer-events: none;
}

.a5d16-a.a5d16-a0 {
  height: 20px;
}

div, span {
  margin: 0;
  padding: 0;
}

.tq1_29 {
  color: rgba(0, 26, 52, .6);
  font-size: 14px;
  line-height: 18px;
  margin-bottom: 12px;
}

.qt2_29 {
  border-radius: 16px;
}

.qt2_29 + .qt2_29 {
  margin-left: 8px;
}

.sq5_29 {
  align-items: center;
  border-radius: 8px;
  color: rgba(0, 26, 52, .6);
  min-height: 32px;
  min-width: 32px;
}

.sq5_29:hover {
  background-color: #e2e7ec;
  color: #0050e0;
}

.qv8_29 {
  justify-content: space-between;
}

.q8v_29, .qv8_29 {
  align-items: flex-end;
  display: flex;
}

.p5y_29 {
  align-items: center;
  background-color: rgba(0, 150, 255, .078);
  border-radius: 50%;
  box-sizing: border-box;
  color: #fff;
  display: inline-flex;
  font-weight: 700;
  justify-content: center;
}

.p5y_29.py6_29 {
  font-size: 20px;
  height: 48px;
  line-height: 26px;
  width: 48px;
}

.sq6_29 {
  align-items: center;
  display: flex;
}

.sq6_29.s6q_29 {
  cursor: pointer;
}

.qs7_29 {
  align-self: flex-start;
  flex-shrink: 0;
  margin-right: 16px;
}

.q7s_29 {
  align-items: center;
  display: inline-flex;
}

.sq7_29 {
  color: #070707;
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  max-width: 400px;
  word-break: break-word;
}

.q6v_29 {
  color: #070707;
  font-size: 14px;
  line-height: 18px;
}

.vq6_29 {
  margin: 0;
  white-space: pre-line;
}

.v4q_29 {
  align-items: center;
  display: flex;
  flex-shrink: 0;
}

.qv5_29 {
  color: rgba(0, 26, 52, .6);
  font-size: 14px;
  line-height: 18px;
}

.vq5_29 {
  margin-left: 16px;
}

.w1q_29 {
  position: relative;
}

.qw2_29 {
  align-items: center;
  display: flex;
  justify-content: space-between;
}

.q2w_29, .wq2_29 {
  padding-left: 64px;
}

.wq2_29 + .q2w_29 {
  margin-top: 24px;
}

.w3q_29 {
  display: flex;
  flex-wrap: nowrap;
}

.w3q_29 + .qw4_29 {
  margin-top: 16px;
}

.sq5_29 {
  align-items: center;
  border-radius: 8px;
  color: rgba(0, 26, 52, .6);
  min-height: 32px;
  min-width: 32px;
}

.sq5_29:hover {
  background-color: #e2e7ec;
  color: #0050e0;
}

.p5y_29 {
  align-items: center;
  background-color: rgba(0, 150, 255, .078);
  border-radius: 50%;
  box-sizing: border-box;
  color: #fff;
  display: inline-flex;
  font-weight: 700;
  justify-content: center;
}

.p5y_29.py6_29 {
  font-size: 20px;
  height: 48px;
  line-height: 26px;
  width: 48px;
}

.sq6_29 {
  align-items: center;
  display: flex;
}

.sq6_29.s6q_29 {
  cursor: pointer;
}

.qs7_29 {
  align-self: flex-start;
  flex-shrink: 0;
  margin-right: 16px;
}

.q7s_29 {
  align-items: center;
  display: inline-flex;
}

.sq7_29 {
  color: #070707;
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  max-width: 400px;
  word-break: break-word;
}

.tq1_29 {
  color: rgba(0, 26, 52, .6);
  font-size: 14px;
  line-height: 18px;
  margin-bottom: 12px;
}

.qt2_29 {
  border-radius: 16px;
}

.qt2_29 + .qt2_29 {
  margin-left: 8px;
}

.tq1_29 {
  color: rgba(0, 26, 52, .6);
  font-size: 14px;
  line-height: 18px;
  margin-bottom: 12px;
}

.qt2_29 {
  border-radius: 16px;
}

.qt2_29 + .qt2_29 {
  margin-left: 8px;
}

.sq5_29 {
  align-items: center;
  border-radius: 8px;
  color: rgba(0, 26, 52, .6);
  min-height: 32px;
  min-width: 32px;
}

.sq5_29:hover {
  background-color: #e2e7ec;
  color: #0050e0;
}

.qv8_29 {
  justify-content: space-between;
}

.q8v_29, .qv8_29 {
  align-items: flex-end;
  display: flex;
}

.p5y_29 {
  align-items: center;
  background-color: rgba(0, 150, 255, .078);
  border-radius: 50%;
  box-sizing: border-box;
  color: #fff;
  display: inline-flex;
  font-weight: 700;
  justify-content: center;
}

.p5y_29.py6_29 {
  font-size: 20px;
  height: 48px;
  line-height: 26px;
  width: 48px;
}

.sq6_29 {
  align-items: center;
  display: flex;
}

.sq6_29.s6q_29 {
  cursor: pointer;
}

.qs7_29 {
  align-self: flex-start;
  flex-shrink: 0;
  margin-right: 16px;
}

.q7s_29 {
  align-items: center;
  display: inline-flex;
}

.sq7_29 {
  color: #070707;
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  max-width: 400px;
  word-break: break-word;
}

.q6v_29 {
  color: #070707;
  font-size: 14px;
  line-height: 18px;
}

.vq6_29 {
  margin: 0;
  white-space: pre-line;
}

.v4q_29 {
  align-items: center;
  display: flex;
  flex-shrink: 0;
}

.qv5_29 {
  color: rgba(0, 26, 52, .6);
  font-size: 14px;
  line-height: 18px;
}

.vq5_29 {
  margin-left: 16px;
}

.w1q_29 {
  position: relative;
}

.qw2_29 {
  align-items: center;
  display: flex;
  justify-content: space-between;
}

.q2w_29, .wq2_29 {
  padding-left: 64px;
}

.wq2_29 + .q2w_29 {
  margin-top: 24px;
}

.w3q_29 {
  display: flex;
  flex-wrap: nowrap;
}

.w3q_29 + .qw4_29 {
  margin-top: 16px;
}